# Welcome

Preface: 

This isn't a complete introduction to Python 



Python is a massive language with many different applications

This includes machine learning, data analysis, web development, application building, and finance

But the goal of this tutorial is to get you started with Python, and hopefully inspire you to continue learning about programming and how it can help separate you from the rest

Python is a beginner friendly language and offers a high-level understanding of programming

# Table of Contents

## Base Types 
#### Integers // Float // Boolean // Strings 
## Container Types 
#### Lists // Tuples // Dictionaries // Sets 
## Indexing/Sequencing
#### Indexing // Slicing  
## Logic Statements 
#### True/False // And, Or and Not // Comparisons // If Else Statements 
## Loops 
#### While Loops // For Loops 
## Functions 
#### Parameters/Arguments // Arbitrary // Overview of Types of Functions 
## Classes/Objects 
#### __init__

# Structure of the Tutorial 

I'll be going through this tutorial in with multiple breaks (hopefully at natural breakpoints)

This will be about a 25 minute tutorial with 5 minute breaks in between 

This tutorial is a give-and-take relationship, so as listeners, I'd love to hear your feedback about your experience in the tutorial, things you liked, and things you didn't like (subjective and objective points are appreciated)

# Base Types 

Built-in data types in Python

### Integers

Any whole number that doesn't contain a fractional component

In [1]:
6 + 4

10

In [1]:
# Assignment in Python with the '=' symbol 

x = 5 

y = 5*x + 10 

# 5*5+10 
# 35

y

35

In [3]:
# exponents 
5**2

# division 
10/5

# modular division 
5 % 2

1

In [4]:
# checking for the type of data type 

# 'type()'

type(10)

# useful for applications where the type of data type is important

int

pseudo-code: 
checks for birth date

if input isn't a number
    tell the user that the input must be a number

### Float 

Real numbers, which contain a whole amount and a fractional amount

In [5]:
type(10.5000000)

float

In [6]:
# use functions to convert to float or integer 

# 'float()' and 'int()'

float(10)

int(10.0)

# useful for user applications, or rounding numbers in data analysis

10

### Boolean 

True or false

In [7]:
x = True 

type(x)

bool

In [8]:
# we'll talk more about this in the 'Comparison' section 

1 < 2

True

In [9]:
5 == 7

False

### Strings 

Immutable sequences of character data

In [13]:
x = "python"

type(x)

str

In [15]:
y = 'python'

type(y)

SyntaxError: EOL while scanning string literal (<ipython-input-15-e305f22926c6>, line 3)

In [17]:
# immutable example 

name = "dennis" 

# this is part of indexing, but just trust me for now 

# name[0] = "e"

In [13]:
# '\n' tells the console to print on a new line
x = "hello \nworld" 

print(x)

hello
world

In [14]:
# ways to format strings in Python

name = "dennis" 

print("hello, {}".format(name))

hello, dennis

## True or False: 56.0 is considered as an integer value
#### Hint: type()

## True or False: "100"  == 100 will return False 
#### Hint: "100" == 100

## True or False: Strings are mutable
#### Hint: Mutable - liable to change

# Container Types 

Storage for data types

### Lists

A collection of ordered and changeable items

Allows for duplicates

Denoted with square brackets ([]) and separated by commas (,)

In [5]:
fruits = ["apple", "banana", "cherries",
          "oranges", "mango", "pineapple"]

In [6]:
fruits

['apple', 'banana', 'cherries', 'oranges', 'mango', 'pineapple']

In [7]:
# adding to a list and allowing for duplicates

fruits.append("apple")

fruits

['apple', 'banana', 'cherries', 'oranges', 'mango', 'pineapple', 'apple']

In [8]:
# removing something from a list 

fruits.pop()

fruits

['apple', 'banana', 'cherries', 'oranges', 'mango', 'pineapple']

In [9]:
fruits[0]

'apple'

In [10]:
# changing an item in the list

fruits[0] = "pomelo"

fruits

['pomelo', 'banana', 'cherries', 'oranges', 'mango', 'pineapple']

In [18]:
# lists can take different data types 

random_list = [25, "computer", False, 93.0234]

Useful for cases where you know you'll be updating and changing items 

Ex: Attendance, grocery lists, data columns

### Tuples

A collection of ordered and unchangeable items 

Allows for duplicates

Denoted with round brackets (()) and separated by commas (,)

In [19]:
sport = ("hockey", "basketball", "baseball", "tennis")

sport

('hockey', 'basketball', 'baseball', 'tennis')

In [20]:
# tuples allow for duplicates

sport = ("hockey", "hockey", "basketball", "baseball", "tennis")

sport

('hockey', 'hockey', 'basketball', 'baseball', 'tennis')

In [21]:
# tuples can also take different types of data 

random_tuple = ("bench", True, 28, 64.09)

In [22]:
# we cannot change a tuple once it is created 

# sport.append("curling")
# sport[0] = "swimming"

Useful for cases where you know you won't be needing any more objects added to a list 

Ex: Data structures and algorithms, option types for websites

### Dictionaries

A collection of key-value pairs and does not allow for duplicates 

Denoted by curly brackets ({}), keys and values separated by semicolons (:), and items are separated by commas (,)

In [12]:
# dictionaries can store any type of data type 

user1 = {"name": "Dennis",
         "age": 22,
         "in_school": True,
         "distance": 62.75}

user2 = {"name": "Jane",
         "age": 28,
         "in_school": False,
         "distance": 162.75}

user1["name"]
user2["name"]

'Jane'

In [13]:
# does not allow for duplicates 

user2 = {"name": "Jane",
         "age": 28,
         "in_school": False,
         "distance": 162.75,
         "name": "John"}

user2

{'name': 'John', 'age': 28, 'in_school': False, 'distance': 162.75}

In [14]:
# changing a key-value pair 

user1["age"] = 23

user1

{'name': 'Dennis', 'age': 23, 'in_school': True, 'distance': 62.75}

In [15]:
# add key-value pair 

user1["location"] = "Toronto"

In [17]:
# removing a key-value pair 

del user1["age"]

In [18]:
user1

{'name': 'Dennis', 'in_school': True, 'distance': 62.75, 'location': 'Toronto'}

Useful for data structures and algorithms, user profiles or databases for analysis

### Sets

An unordered collection of unchangeable items

Does not allow for duplicates 

Denoted by curly bracket ({}) and separated by commas (,)

In [19]:
# here is what I mean by an unordered collection 

streets = {"yonge", "bathurst", "avenue", "don mills", "steeles"}

streets

{'avenue', 'bathurst', 'don mills', 'steeles', 'yonge'}

In [27]:
# cannot be called by order 

# streets[0]

In [28]:
# since we cannot call items by their index, we can't change them either 

# streets[0] = "dufferin"

In [29]:
# duplicates are not allowed in sets either

animals = {"dog", "cat", "turtle", "fish", "chicken", "dog"}

animals

# only 1 dog

{'cat', 'chicken', 'dog', 'fish', 'turtle'}

In [30]:
# cannot have items that are mutable 

# random_set = {["dog", "cat", "bird", "fish"], "orange", "yellow"}

In [20]:
random_set = {12, 14, "orange", 13.010, True}

Useful for searching, removing duplicates in a sequence, and probability applications like unions, intersections, and differences

## True or False: You can update a key-value pair in a dictionary
#### Hint: You can index dictionaries

## True or False: Sets allow for duplicates 
#### Hint: You cannot index sets 

## True or False: Tuples only allow for one type of data type
#### Hint: Tuples are similar to that of lists, sets, and dictionaries

# Indexing and Slicing

Traversing through the container types

### Indexing

Calling an item in a container by its position

Denoted with a container type (list, tuple) and square brackets ([])

Format:

    my_list[index]

Python is zero-indexed, which allows for better traversals over container types

In [6]:
app = ["tiktok", "twitter", "facebook",
       "instagram", "snapchat", "pinterest"]

In [32]:
app[0] # returns tiktok

'tiktok'

In [33]:
app[4] # returns snapchat

'snapchat'

We can all reverse indices

In [34]:
app[-1]

'pinterest'

In [35]:
app[-4]

'facebook'

### Slicing 

Denoted by a container type (list, tuple) and square brackets ([])

Format: 

    my_list[start:stop:step]

It is left inclusive, right exclusive

What does that mean? 

my_list[0:2] returns the items at index 0 and 1, but not at 2

In [36]:
app[0:4] # returns everything from index 0 (tiktok) TILL snapchat

['tiktok', 'twitter', 'facebook', 'instagram']

In [37]:
# python likes to make assumptions 

app[2:] # python assumes you want the entire list if we don't specify the 'stop'

['facebook', 'instagram', 'snapchat', 'pinterest']

In [9]:
app

['tiktok', 'twitter', 'facebook', 'instagram', 'snapchat', 'pinterest']

In [27]:
app[-4:-1] # start at index -4, and stop at index -1

['facebook', 'instagram', 'snapchat']

You can only reverse the list when stepping in reverse

In [8]:
# app[-1:-4:-1] 
# you must use steps

['pinterest', 'snapchat', 'instagram']

#### Stepping

In [10]:
app[::2] # returns every second item

['tiktok', 'facebook', 'snapchat']

In [37]:
# we can also reverse the entire list

app[::-1]

['pinterest', 'snapchat', 'instagram', 'facebook', 'twitter', 'tiktok']

## Pop Quiz

Given a list of data types, find the string in the list, and return the character at the first index 

### Example 

#### Given: 
my_list = [25, 85.04, True, "apple"] 

#### Return: 
'p'

In [41]:
# my solution
my_list = [25, 85.04, True, "apple"]

# assign the string data type as a variable 
my_str = my_list[3]

# access the first index of the string
my_str[1]

'p'

# Logic Statements

Building on boolean logic

### True or False

In [42]:
2 > 4

False

In [43]:
"str" == "str"

True

### Comparisons
Less than, greater than, equal

In [44]:
# greater than 
5 > 2

# less than 
5 < 20 

# equal to 
5 == 5

# greater than or equal to 
5 >= 5

# less than or equal to
5 <= 14

True

### And, Or, and Not 
Just like English

In [14]:
x = 5

In [15]:
# returns True if all statements are True, else False

x < 10 and x > 0

False

In [17]:
# returns True if one statement or all statements are True, else False

x == 7 or x > 2

True

In [48]:
not x > 10

True

### If Else Statements

Format:

    if (condition):

        expression1

    else: 

        expression2

#### Example: 

    if it is raining 


        bring an umbrella 


    else 


        bring sunglasses

In [49]:
weather = "rain"

if (weather == "sunny"): 
    print("beach day")
else:
    print("stay home")

stay home

In [50]:
# we can use some of the data types we've learned 

value = "computer"

if (type(value) == int):
    print(value)
    
else:
    print("please enter a valid value")

please enter a valid value

In [51]:
# in the case of multiple cases 

weather = "rain"

if (weather == "rain"):
    print("umbrella")
    
elif (weather == "sunny"):
    print("sunglasses")
    
elif (weather == "snow"):
    print("snowpants")
    
else:
    print("stay home")

umbrella

In [52]:
# you can also nest 'if' statements 

name = "dennis"
age = 18

if (type(name) == str):
    if (age > 19):
        print("welcome to the party")
    else:
        print("sorry")
else:
    print("please enter a valid name")

sorry

In [53]:
# one line if statements 

name = "dennis" 

if name == "dennis": print(name)

dennis

### Conditional expressions 

Format:

value_if_true if condition else value_if_false

In [19]:
age = 59

print("legal drinking age") if (age > 19) else print("not legal drinking age")

legal drinking age

# What is the output of this statement?

    target = "grocery"

    distance_km = 25

    if (target == "mall"):

        if (distance_km <= 5):

            print("walk")

        elif (distance >= 10 and distance <= 30): 

            print("drive")

        else:

            print("stay home")

    elif (target == "grocery"):

        if (distance_km <= 5):

            print("walk")

        elif (distance >= 10 and distance <= 30): 

            print("drive")

        else:

            print("stay home")

    else: 

        if (distance_km <= 5):

            print("walk")

        else: 

            print("drive")

# Loops 

A way to iterate through a container type

## While Loops 

Format: 

    while (condition is true): 
        perform some action

In [22]:
i = 0 

while (i < 5):
    print(i)
    i += 1 # i = i + 1 
    print("updated i value: " + str(i))

0
updated i value: 1
1
updated i value: 2
2
updated i value: 3
3
updated i value: 4
4
updated i value: 5

## For Loops

Format: 

    for (condition):
        perform some action

In [ ]:
my_list = ["dog", "cat", "bird"]

for animal in my_list:
    print(animal)

Loops are useful for data structures, and data analysis

# Functions 

The parts of a system 

A block of code that only runs when it's called 

They have arguments (or parameters), and they can return information after completing 

Format: 

    def my_func():
        TODO

In [56]:
def greeting():
    print("welcome to the tutorial")

In [57]:
greeting()

welcome to the tutorial

### Arguments

Data outside of a function that can be passed to a function

In [32]:
def greeting(*name):
    """
    A function that greets a user
    """
    for n in name: 
        print("welcome to the party, " + n)
    
greeting("dennis", "katie")

welcome to the party, dennis
welcome to the party, katie

Used to reduce the amount of repetitive code when having to do the same thing over and over

In [59]:
greeting(name = "maia")

welcome to the party, maia

### Multiple Arguments

In [35]:
employee_direc = []

def current_employee_details(name, store_location, time_with_company): 
    employee_direc.append({"name": name, 
                           "store_location": store_location,
                           "time_with_company": time_with_company})

In [36]:
current_employee_details(name="dennis",
                         store_location="Toronto",
                         time_with_company=5)

In [37]:
current_employee_details(name="amanda",
                         store_location="New York",
                         time_with_company=2)

current_employee_details(name="John",
                         store_location="Toronto",
                         time_with_company=1)


current_employee_details(name="Maia",
                         store_location="New York",
                         time_with_company=4)


current_employee_details(name="michael",
                         store_location="Paris",
                         time_with_company=3)


current_employee_details(name="april",
                         store_location="Paris",
                         time_with_company=19)

In [38]:
employee_direc

[{'name': 'dennis', 'store_location': 'Toronto', 'time_with_company': 5},
 {'name': 'amanda', 'store_location': 'New York', 'time_with_company': 2},
 {'name': 'John', 'store_location': 'Toronto', 'time_with_company': 1},
 {'name': 'Maia', 'store_location': 'New York', 'time_with_company': 4},
 {'name': 'michael', 'store_location': 'Paris', 'time_with_company': 3},
 {'name': 'april', 'store_location': 'Paris', 'time_with_company': 19}]

In [39]:
# combining this with lists, loops, and sets

store_locations = []

for i in employee_direc:
    print(i)
    store_locations.append(i["store_location"])

print(set(store_locations))

{'name': 'dennis', 'store_location': 'Toronto', 'time_with_company': 5}
{'name': 'amanda', 'store_location': 'New York', 'time_with_company': 2}
{'name': 'John', 'store_location': 'Toronto', 'time_with_company': 1}
{'name': 'Maia', 'store_location': 'New York', 'time_with_company': 4}
{'name': 'michael', 'store_location': 'Paris', 'time_with_company': 3}
{'name': 'april', 'store_location': 'Paris', 'time_with_company': 19}
{'Toronto', 'New York', 'Paris'}

### Arbitrary Arguments

When you don't know how many arguments will be passed

In [65]:
# stores the arguments as a tuple 

# recall that a tuple is like a list, but the items cannot be changed

# here the '*' symbol indicates that we might have a varying amount 
# of arguments 

def day_care_attendance(*child_attendance):
    """
    A function to greet all the day care attendees
    """
    # loop through the tuple of children names
    for attendee in child_attendance: 
        # print hello with each of the attendees names 
        print("hello", attendee)

In [66]:
day_care_attendance("dennis", "angelo")

hello dennis
hello angelo

## Types of Functions

#### No params and no return value 

    def local_function():
        c = 5 + 1
        
#### No params and a return value 
   
    def return_func():
       c = 5 + 1
       return c 

#### Params and no return value 

    def param_funct(a, b):
        c = a + b 
        
#### Params and a return value 

    def param_return_funct(a, b):
        c = a + b
        return c

# What does this block of code return? 

    def validate_age(age):

        """
        Validates whether a user's age is over 19
        """

        if (age >= 19):
            return True
        else:
            return False

    def user_country(country):

        """
        Validates user country
        """

        if (type(country) == str):

            if (country == "CA"):
                return True

            else: 
                return False

        else: 
            print("Please enter a valid country")
            return False

    def user_authentication(age_access, location_access):

        """
        Authenticates user access
        """

        if (age_access and location_access):
            print("Access granted")

        else:
            print("Access denied")


    age_access_bool = validate_age(21)
    location_access_bool = user_country("CA")

    user_authentication(age_access = age_access_bool, 
                        location_access = location_access_bool)

# Classes/Objects 

Classes allow the user to create objects that have their own methods and properties

Format: 
    
    class MyClass:
        property1 = foo 
        property2 = bar 
        
        def class_func():
            print(baz)

In [68]:
class Student: 
    name = "Dennis"
    age = 25
    in_school = True

In [69]:
# assigning user1 as an object of the Student() class 

user1 = Student()

In [70]:
# calling a property of the Student() class 
# in this case, 'name'

user1.name

'Dennis'

In [71]:
user1.age

25

In [72]:
user1.in_school

True

### __init__

initializing properties of a class

In [73]:
class Student: 
    def __init__(self, name, yr):
        self.name = name 
        self.yr = yr
        
    def graduation_yr(self):
        print("you will graduate in {} years".format(4-self.yr))

In [74]:
user1 = Student(name = "Dennis", 
                yr = 1)

In [75]:
user1.name

'Dennis'

In [76]:
user1.yr

1

In [77]:
user1.graduation_yr()

you will graduate in 3 years

# Challenge Question 

Given a string, return a new string where "not " has been added to the front. However, if the string already begins with "not", return the string unchanged

Example:

    not_string('candy')  'not candy'
    
    not_string('x')  'not x'
    
    not_string('not bad')  'not bad'

In [81]:
def not_string(str):
  not_str = "not"
  if (not_str in str[0:4]):
    return str 
  else: 
    return "not {}".format(str)

I hope you enjoyed today's workshop

If you'd like to see more workshops in the future, please let me know in the feedback form that I'll be sharing in the chat, as well as any feedback you have for me

If you'd like to learn more about Python, I can also send those resources around, but if you don't, I still suggest you tinker around with the material we covered today as it'll be useful for understanding other programming languages as well

I'll stick around for any questions and I'll be entering all of you into a raffle and announce the winner on Instagram

Instagram: @padillest 

LinkedIn: Dennis Padilla - Founder of Integrative Consciousness